body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header, footer, main h2{
    background-color: #22577A;
}

header nav a, footer .copyright, header, main h2{
    color: #fff;
}

.gold_text{
    color: gold;
}

/* ====== */
/* HEADER */
/* ====== */
header{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

header h1{
    text-align: center;
}

nav{
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
}

/* ==== */
/* MAIN */
/* ==== */

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

main h2, main h3{
    margin: 0;
    text-align: center;
}

section, aside {
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

article {
    display: flex;
    align-items: flex-start; /* Alinear elementos al inicio */
    margin-bottom: 20px; /* Espacio entre los articles */
    padding: 10px; /* Padding dentro del article */
}

section article *{
    padding: 10px;
}

.article-content {
    flex: 3; /* Ocupa 3 partes de 4 */
    padding-right: 10px; /* Espacio entre el párrafo y la imagen */
}

.article-image {
    flex: 1; /* Ocupa 1 parte de 4 */
    text-align: center; /* Centrar la imagen horizontalmente */
    display: flex;
    align-items: flex-start; /* Alinear la imagen al inicio */
}

.article-image img {
    max-width: 100%; /* La imagen no excede el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    align-self: flex-start; /* Alinear la imagen al inicio del contenedor */
}

aside.web_resources{
    display: flex;
    flex-direction: column;
}

aside.web_resources ul{
    margin-block: auto; /* Centering the ul */
}

/* ====== */
/* FOOTER */
/* ====== */
footer {
    text-align: center;
    padding: 10px;
}