/************************************************************
*
*               TEMPLES
*
************************************************************/

.grid-temples{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1em;
}

/*endregion pet card*/
