/************************************************************
*
*               GENERAL MAIN
*
************************************************************/

main h2{
    text-align: center;
}

/************************************************************
*
*               TEMPLES GRID & ARTICLES
*
************************************************************/

.grid-temples{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.temple-card {
    margin: auto;
}

.temple-card p{
    text-align: center;
}




